In [10]:
import pandas as pd

In [11]:
path_arg = '../../data/META/arg_final.csv'
path_experiments = '../../data/META/sra_package.csv'
path_res = '../../data/META/arg_final.sra.csv'

In [12]:
df_arg = pd.read_csv(path_arg)
print(len(df_arg.index))
df_arg.head(2)

359

  whealbi_code  erge-code        name      species country
0       WW-280         92  11iwswsn14  T. aestivum     USA
1       WW-281        421      3716 1  T. aestivum     BGR

In [13]:
df_sra = pd.read_csv(path_experiments)
print(len(df_sra.index))
df_sra.head(2)

487

,EXPERIMENT/IDENTIFIERS/PRIMARY_ID,EXPERIMENT/TITLE,EXPERIMENT/STUDY_REF/IDENTIFIERS/PRIMARY_ID,EXPERIMENT/STUDY_REF/IDENTIFIERS/EXTERNAL_ID/_namespace,EXPERIMENT/STUDY_REF/IDENTIFIERS/EXTERNAL_ID/__text,EXPERIMENT/STUDY_REF/_accession,EXPERIMENT/DESIGN/DESIGN_DESCRIPTION,EXPERIMENT/DESIGN/SAMPLE_DESCRIPTOR/IDENTIFIERS/PRIMARY_ID,EXPERIMENT/DESIGN/SAMPLE_DESCRIPTOR/IDENTIFIERS/EXTERNAL_ID/_namespace,EXPERIMENT/DESIGN/SAMPLE_DESCRIPTOR/IDENTIFIERS/EXTERNAL_ID/__text,...,RUN_SET/RUN/_total_spots,RUN_SET/RUN/_total_bases,RUN_SET/RUN/_size,RUN_SET/RUN/_load_done,RUN_SET/RUN/_published,RUN_SET/RUN/_is_public,RUN_SET/RUN/_cluster_name,RUN_SET/RUN/_static_data_available,SAMPLE/SAMPLE_ATTRIBUTES/SAMPLE_ATTRIBUTE/12/TAG,SAMPLE/SAMPLE_ATTRIBUTES/SAMPLE_ATTRIBUTE/12/VALUE
0,SRX5681042,Exome sequencing of Triticum aestivum var. aes...,SRP192542,BioProject,PRJNA524104,SRP192542,Roche Nimblegen SeqCap EZ Design for Wheat Exome,SRS4621740,BioSample,SAMN11021497,...,27486117,6750769131,2212712262,True,2019-04-15 04:45:13,True,public,1,NaN,NaN
1,SRX5681041,Exome sequencing of Triticum aestivum var. aes...,SRP192542,BioProject,PRJNA524104,SRP192542,Roche Nimblegen SeqCap EZ Design for Wheat Exome,SRS4621739,BioSample,SAMN11021492,...,29645020,7292004519,2356688782,True,2019-04-15 04:45:13,True,public,1,NaN,NaN

In [16]:
df_sra = df_sra[['SAMPLE/_alias','RUN_SET/RUN/IDENTIFIERS/PRIMARY_ID']]

In [17]:
df_sra.columns = ['whealbi_code','sra']
df_sra.head(2)

  whealbi_code         sra
0       WW-089  SRR8894601
1       WW-084  SRR8894602

In [22]:
sras = df_sra['whealbi_code']
df_arg[~df_arg['whealbi_code'].isin(sras)]

    whealbi_code  erge-code                     name      species country
40        WW-320        933                     apex  T. aestivum     GBR
88        WW-370       3752                iar w83 2  T. aestivum     ETH
91        WW-373       3912               jaszaji tf  T. aestivum     HUN
112       WW-395       4991                    mv ma  T. aestivum     HUN
135       WW-418       6605         soandres laracha  T. aestivum     ESP
160       WW-443      13476                   taldor  T. aestivum     FRA
182       WW-466      24054              stepnyachka  T. aestivum     RUS
263       WW-126      39031                 tri 1640  T. aestivum     ALB
265       WW-128      39033                  tri 593  T. aestivum     GRC
266       WW-129      39034                 tri 2309  T. aestivum     GRC
267       WW-130      39035                tri 10807  T. aestivum     GRC
271       WW-139      39039                tri 10862  T. aestivum     NPL
273       WW-141      39041                tri 10887  T. aestivum     NPL
274       WW-142      39042                tri 10959  T. aestivum     NPL
276       WW-144      39044       kujawischer weizen  T. aestivum     POL
295       WW-193      39076   karnobater frÃ¼hreifer  T. aestivum     BGR
299       WW-199      39081                 tri 6471  T. aestivum     IRN
300       WW-206      39088                 tri 6669  T. aestivum     IRN
338       WW-273      39369                 tri 6655  T. aestivum     IRN
339       WW-275      39370                 tri 7818  T. aestivum     BGR
340       WW-491      39371  russischer korschow 149  T. aestivum     RUS

In [19]:
df_res = pd.merge(df_arg,df_sra,on='whealbi_code')
df_res.head(2)
print(len(df_res.index))

338