In [2]:
import pandas as pd

In [3]:
path_experiments = '../../data/META/sra_package.csv'
path_arg_accessions = '../../data/META/arg_accessions'
path_res = '../../data/META/accessions_samples.csv'

In [4]:
df = pd.read_csv(path_experiments)

In [5]:
print(len(df.index))
df = df[['SAMPLE/_alias','RUN_SET/RUN/IDENTIFIERS/PRIMARY_ID']]
df.columns = ['sample','run']
df.head(2)

487

   sample         run
0  WW-089  SRR8894601
1  WW-084  SRR8894602

In [6]:
df_arg = pd.read_csv(path_arg_accessions, header=None)
df_arg.columns = ['sample']

In [7]:
print(len(df_arg.index))
df_arg.head(2)

319

   sample
0  WW-310
1  WW-280

In [8]:
samples = df_arg['sample'].unique()
df_res = df[df['sample'].isin(samples)]

In [9]:
len(df_res.index)

297

In [30]:
df_res.to_csv(path_res, sep=',', index=None, header=None)

In [10]:
#missing arg samples
all_samples = df['sample'].unique()
print(len(df_arg[~df_arg['sample'].isin(all_samples)].index))
df_arg[~df_arg['sample'].isin(all_samples)]

22

     sample
17   WW-320
83   WW-370
86   WW-373
111  WW-395
140  WW-418
174  WW-443
209  WW-466
228  WW-126
230  WW-129
231  WW-130
235  WW-139
237  WW-141
238  WW-142
240  WW-144
259  WW-193
262  WW-199
263  WW-206
292  WW-273
293  WW-275
294  WW-491
305  WW-051
317  WW-054