In [29]:
import pandas as pd
import csv

In [30]:
path_gtf = '../../data/genome/genes.gtf'
path_gtf_res = '../../data/genome/genes.fixed.gtf'

In [31]:
df = pd.read_csv(path_gtf, sep='\t', header=None)

In [32]:
print(len(df.index))
df.head(2)

1620887

,0,1,2,3,4,5,6,7,8
0,1A,Ensembl_Plants,transcript,200,1683,.,+,.,"transcript_id ""transcript:ENSRNA050013875-T1"";..."
1,1A,Ensembl_Plants,exon,200,1683,.,+,.,"transcript_id ""transcript:ENSRNA050013875-T1"";..."

In [33]:
df[8] = df[8].str.replace('transcript:','')

In [34]:
df.head(2)

,0,1,2,3,4,5,6,7,8
0,1A,Ensembl_Plants,transcript,200,1683,.,+,.,"transcript_id ""ENSRNA050013875-T1""; gene_id ""E..."
1,1A,Ensembl_Plants,exon,200,1683,.,+,.,"transcript_id ""ENSRNA050013875-T1""; gene_id ""E..."

In [35]:
df.to_csv(path_gtf_res, sep='\t', header=None, index=None,quoting=csv.QUOTE_NONE)