In [6]:
import pandas as pd

In [7]:
pheno = 'Heading'

In [8]:
df = pd.read_csv('../../data/phenotypes/PhenoDataAgostino.csv',sep=',')

In [9]:
print(len(df.index))
df['LotName'] = df['LotName'].str.replace('s','w')
df['LotName'] = df['LotName'].str.replace('ww','WW')
df.head(2)

4950

,Env,LotName,AccessionName,Block,Plot,Heading,Height,AwnLength,AwnRoughness,GrainWeight,...,FruitingEfficiency,SpikeLength,WinterSurvival,Lodging,LeafRust,StripeRust,PowderyMildew,CarbonIsotopeDiscrimination,CarbonContent,PlotGrainWeight
0,WS3-TUR-irrigated,WW-044,KALAHARI,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WS3-TUR-irrigated,WW-497,DESI,1,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
for col in df.columns:
    count = len(df[df[col].notnull()].index)
    print(col, count)

Env 4950
LotName 4950
AccessionName 4930
Block 4950
Plot 4950
Heading 3404
Height 4114
AwnLength 2303
AwnRoughness 1683
GrainWeight 2737
PeduncleLength 1957
FruitingEfficiency 2108
SpikeLength 2168
WinterSurvival 1199
Lodging 600
LeafRust 600
StripeRust 1224
PowderyMildew 600
CarbonIsotopeDiscrimination 596
CarbonContent 596
PlotGrainWeight 1196

In [11]:
df_ = df[df[pheno].notnull()][['Env','LotName',pheno]]
df_.head(6)

         Env  LotName  Heading
632  WS2-MTA   WW-456     90.0
633  WS2-MTA   WW-028     99.0
635  WS2-MTA   WW-449     97.0
636  WS2-MTA  WW-1002     87.0
638  WS2-MTA   WW-207     88.0
639  WS2-MTA   WW-257     90.0

In [12]:
res_path = '../../data/phenotypes/' + pheno + '.csv'
df_.to_csv(res_path, sep=',', index=None)
res_path

'../../data/phenotypes/Heading.csv'